[Desktop Entry]
Categories=Utility;Development;
Comment={{comment}}
Exec=/usr/bin/mcpanel
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
{{#if mime_type}}
MimeType={{mime_type}};
{{/if}}
